{# <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html> #}

    {% extends "base.jinja" %}
    {% block content %}
    <h2>CDN 109</h2> 
    <h2>Cars</h2>
    {% for cars in cdn['instructors'] %}
      <span>{{ cars }} </span>

    {% endfor %}
    <h2>Models</h2>
    {% for models in cdn.models %}

        <p> {{ models }} </p>

    {% endfor %}
    {% endblock %}
